@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url('https://webfontworld.github.io/BMJua/BMJua.css');
@import url('https://fonts.cdnfonts.com/css/archivo');

* {
  box-sizing: border-box;
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  font-family: 'Archivo', 'NanumSquare', sans-serif;
  font-weight: 400;
}

button, select {
  text-transform: none;
  -webkit-appearance: none;
}

a, button, input, label, select {
  background-color: transparent;
}


img {
  @apply block w-full;
}

span {
  @apply inline-block;
}

input {
  @apply w-full h-full outline-none border border-black bg-white rounded-[10px] min-h-[50px] text-20 indent-3;
}

input[type='file'] {
  @apply absolute inset-0 w-full h-full opacity-0 cursor-pointer;
}

input[type='checkbox'] {
  @apply hidden;
}

